article hr
  background-image: none;
  height: 2em;
  border: none;
  margin: 1em 0 1em;
  text-align: center;
  &:after
    content: "···";
    letter-spacing: 2em;
    padding-left: 2em;
    font-weight: 700;
